extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Submit aPATCH request with yor new password and passwordConfirm to: #{url}.
  p (website for this action not yet imlemented!)
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p if you did not forgot your password pleasee ignore this email
  p - Uri Koffman